body {background-color: aqua;}
.one {background-color: rgb(0, 132, 255);
     color:rgb(0, 0, 0);
     margin:auto;
     display: flex;
     justify-content: center;
     justify-items: center;}
.two {background-color: rgb(183, 0, 255);
     text-align: left;
      width: 60%;  }
nav {display: flex;
    justify-content: center;}