body {background-color:rgb(230, 146, 44);}
.one {color:rgb(0, 0, 0);
     margin:auto;
     display: flex;
     justify-content: center;
    justify-items: center;}
.two {color:rgb(0, 0, 0);
    margin:auto;
    padding: 15px;
    overflow:auto;
    display:block;
    background-color: rgb(197, 121, 29);}

nav {display: flex;
    justify-content: center;
    justify-items: center;}
ul {list-style-position:outside;}